<% content_for :title, @title %>

<div id="sidebar_left" class="middle">
      <div class="container_11">
      		<div class="wrapper">    	
                <div id="content">
                	<div class="text-post">
                      <div class="post-item">
                            <div class="post-title">
                                <h2><a href="#">About</a></h2>
                            </div><!--/ post-title-->
                            <!--/ post-meta-->
<div class="entry">
                   				<a data-rel="prettyPhoto" href="/assets/store/content/about.jpg">
                                <img src="/assets/store/content/about.jpg" width="668" height="302" alt="" class="aligncenter"></a>
                            	<p>We have thousands of Christian eBooks from Africa and the  Rest of the World.</p>
								<p><strong>Just:</strong></p>
								<p>Browse our catalogue</p>
								<p>And select and download some FREE eBooks</p>
								<p>Or</p>
						Buy and download some of the latest releases  from African and International Christian Authors.</div>
<!--/ entry-->
                      </div>
                       <!--/ post-item-->
                       <!--/ wp-pagenavi-->
                    </div>
                	<!--/ text-post-->
                </div><!--/ content-->
        </div><!--/ wrapper-->