<% content_for :title, @title %> 
<div id="sidebar_left" class="middle">
      <div class="container_11">
      		<div class="wrapper">    	
                <div id="content">
                	<div class="text-post">
                      <div class="post-item">
                            <div class="post-title">
                                <h2><a href="#">Authors</a></h2>
                            </div><!--/ post-title-->
                            <!--/ post-meta-->
<div class="entry">
                   				<a data-rel="prettyPhoto" href="/assets/store/content/author.jpg">
                                <img src="/assets/store/content/author.jpg" width="668" height="302" alt="" class="aligncenter"></a>
                            	<p>REVIVE! Bookshop is interested in Christian eBooks from  all over Africa. We would love to hear from both published and aspiring African  Christian authors. </p>
								<p>Our aim is to avail your material to readers in Africa and  beyond.  Please feel free to contact us  as follows:</p>
								<p><strong><u>For Published  Authors</u></strong></p>
								<p>If you are a published Christian author based in Africa, and  would like some information on how to list your eBbook on our website, please contact  us here: <a href="mailto:authors@revivebookshop.com" class="style2">authors@revivebookshop.com</a></p>
								<p>If you do not have an eBook version of your book, please  feel free to request information on how to convert your book into a suitable eBook  format here: <a href="mailto:conversion@revivebookshop.com" class="style2">conversion@revivebookshop.com</a></p>
								<p><strong><u>Aspiring  Authors:</u></strong></p>
								<p>Aspiring to write the next great Christian book? Talk to  us here: <a href="mailto:submissions@revivebookshop.com" class="style2">submissions@revivebookshop.com</a><br>
			  We would be glad to hear from you!</p>
			  <div class="clear"></div>
                        </div><!--/ entry-->
                      </div>
                       <!--/ post-item-->
                       <!--/ wp-pagenavi-->
                    </div>
                	<!--/ text-post-->
                </div><!--/ content-->
        </div><!--/ wrapper-->  
