<% content_for :title, @title %> 
<div id="sidebar_left" class="middle">
      <div class="container_11">
      		<div class="wrapper">    	
                <div id="content">
                	<div class="text-post">
                      <div class="post-item">
                            <div class="post-title">
                                <h2><a href="#">Free eReading App</a></h2>
                            </div><!--/ post-title-->
                            <!--/ post-meta-->
<div class="entry">
                   				<a data-rel="prettyPhoto" href="/assets/store/content/reading-app.jpg">
                                <img src="/assets/store/content/reading-app.jpg" width="668" height="302" alt="" class="aligncenter"></a>
<p><strong>Coming Soon.<br>  
                       	        <br>
                           	    This Page is under construction</strong></p>
								<div class="clear"></div>
                        </div><!--/ entry-->
                      </div>
                       <!--/ post-item-->
                       <!--/ wp-pagenavi-->
                    </div>
                	<!--/ text-post-->
                </div><!--/ content-->
        </div><!--/ wrapper-->