<% content_for :title, @title %> 
<div id="sidebar_left" class="middle">
      <div class="container_11">
      		<div class="wrapper">    	
                <div id="content">
                	<div class="text-post">
                      <div class="post-item">
                            <div class="post-title">
                                <h2><a href="#">Video Reviews</a></h2>
                            </div><!--/ post-title-->
                            <!--/ post-meta-->
<div class="entry">
                   				<a data-rel="prettyPhoto" href="/assets/store/content/reviews.jpg">
                                <img src="/assets/store/content/reviews.jpg" width="668" height="302" alt="" class="aligncenter"></a>
                            	<p><strong><br></strong>Enjoyed one of our books? We would love to see your video  review!</p>
                            	<p>Click <a href="mailto:videos@revivebookshop.com" class="style30">here</a> for guidelines on how to review your book and submit your video online.</p>
           	                    <p>We would be glad to share it with other readers on this  page.</p>
              <div class="clear"></div>
                        </div><!--/ entry-->
                      </div>
                       <!--/ post-item-->
                       <!--/ wp-pagenavi-->
                    </div>
                	<!--/ text-post-->
                </div><!--/ content-->
        </div><!--/ wrapper-->